.header {
  padding: 20px;
  background-color: rgb(255, 0, 0);
};

.container {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  border: 1px solid black;
  height: 300px;
  margin-top: 180px;
  width: 180px;
  float: left;
  background-color: white;
  margin-left: 32px;
  border-radius: 10px; 
}

.right-container{
  margin-left: 100px;
  padding-left: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-body {
  margin-top: 16px;
  width: 100px;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 20px;
}

.card-body > img {
  position:relative;
  height: 80px;
  width: 150px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(359deg);
  }
}